<section>
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="login-form">
            <div class="form-header d-flex justify-content-center align-items-center">
                <h3>Login</h3>
            </div>
            <div class="form-body d-flex justify-content-center align-items-center">
                <!-- <form>
                    <div class="input-group">
                        <span class="input-group-text" id="email"><i class="fas fa-user"></i></span>
                        <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Email"  required autofocus>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="password"><i class="fas fa-lock"></i></span>
                        <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password"  required>
                    </div>
                    <div class="submit-button">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-success" (click)="checkLogin()">
                                    Login <i class="far fa-sign-in-alt"></i>
                                </button>
                                <button class="btn btn-primary" (click)="onBack()" [routerLink]="['/welcome']">
                                     Back <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form> -->
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="form-footer d-flex justify-content-center align-items-center">
                <h6>Don't have an account?&nbsp;<a [routerLink]="['/register']">Signup</a></h6>
            </div>
        </div>
    </div>
</section>